*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, input, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(108, 29, 65), rgb(191, 129, 160), rgb(255, 255, 255));
    font-family: 'Roboto', sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    padding: 10px; 
}
/*-------------------------------------------------*/
/*COMIENZO CONFIGURACION DEL NAV*/
/*-------------------------------------------------*/

/*display del nav*/
.nav__display{
    display: grid;
    grid-template-columns: 15% 15% 25% 15% 15% 15%;
}

/*link de --- categoria*/
.Categorias {
    padding: 10px 0 0 10px;
}

.Categorias ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}


/*barra de busqueda*/
.form-bar {
    margin-top: 10px;
    flex: 1; 
}

input{
    width: 90%; 
    padding: 8px;
    border-radius: 7px;
}


/*links --- contacto --- login*/
.User {
    padding: 10px 10px 0 0;
}

.User ul {
    padding: 0;
    display: flex;
}

.User ul li {
    margin-right: 20px;
}


/*link --- carrito*/
.cart__display{
    display: grid;
    grid-template-columns: 60% 40%;
}

.cart__link{
    padding: 20px 0 0 20px ;
}

.cart__link ul{
    display: flex;
}

.cart {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 10px 0 0 10px;
}

.cart svg {
    cursor: pointer;
}


/*previsualisacion del carrito*/
.cart-items p{
    color: #000;
}

.cart .cart-items {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.cart .cart-items.active {
    display: block;
}

.cart .cart-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart .cart-items li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
/*-------------------------------------------------*/
/*FIN CONFIGURACION DEL NAV*/
/*-------------------------------------------------*/

main{
    background-color: #fff;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: #6b264e;
    color: #fff;
    padding: 5rem;
    border-radius: 1rem;
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    border: 0;
    background-color: #fff;
    color: #6b264e;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
}

.main-content {
    max-width: 180px; 
    max-height: 180px; 
}

.filtro-producto {
    display: flex; 
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
}

.categoria {
    margin-right: 50px; 
    font-size: 130%; 
    margin: 0;
}

.categoria-seleccionada {
    color: red;
  }
  
footer {
    margin-top: 700px;
}

