body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    background-color: #65baa6;
    color: white;
    padding: 1rem;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;

}

h3 {
    font-size: 90%;
}

p {
    font-size: 75%;
}


nav {
    background-color: rgba(59, 154, 145, 0);
    padding: 1rem;
    color: white;
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-left:40px ;
    margin-right:140px;
    margin-bottom: 100px;
}

.heDiv {
  display: flex; 
  margin-bottom: -200px; 
}

.Ihtml {
    margin-left: 20px;
    margin-right: 70px;
}

section {
    display: flex;
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.pre {
    display: flex;
    flex-direction: row;
}

.producto {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 30px;
    flex-direction: row;
}

.producto img {
    max-width: 100px;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
}


footer {
    background-color: #65baa6;
    color: white;
    text-align: center;
    padding: 55px;
    position: relative;


}