@media (max-width: 1366px){

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0px;
}

.head-p {
    background-color: #009b60;
    color: white;
    text-align: center;
    padding: 1rem;
}

/*CONF DE LOS LINKS DE LA PAGINA*/
.nav-conf {
    background-color: #444;
    padding: 1rem;
}

.nav-conf a{
    color: white;
    text-decoration: none;
    margin-right: 123px;
}

/*display*/
.display{
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-gap: 2%;
}

.pos-izquierda{
    border: 1px solid black;
    grid-column: 1 / 2;
}

.pos-derecha{
    border: 1px solid black;
    grid-column: 2 / 3;
}





/*NO BORRAR COSO DEL MEDIA*/    
}