@media (max-width:1366px){


/*COSAS VARIAS*/
body {
    font-family: Arial, sans-serif;
}

.head-p {
    background-color: #00c278;
    color: white;
    text-align: center;
    padding: 1rem;
}

/*CONF DE LOS LINKS DE LA PAGINA*/
.nav-conf {
    background-color: #444;
    padding: 1rem;
}

.nav-conf a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
}


/*TODO LO DE LA BARRA LATERAL, FILTRO*/
.barra-lateral{
    background-color: pink;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 337px;
    float: left;
}

#bar-filtro{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.select-ftro{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.select-ftro label{
    margin-left: 5px;
    margin-right: 10px; 
}

/*TODO LO DE PRODUCTOS*/
.div-contenedor{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 5px;
}

.conf-general{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: left;
}

.conf-general img{
    float: left;
}

.inf-prod{
    float: left;
}

.inf-prod p{
    margin: 0px;
    margin-right: 5px;
}

.btom-prod{
    margin: 15px;
    float: left;
}

} /*NO BORRAR ESTO ES DE LA MEDIA*/