@media (max-width:1366px){

/*COSAS VARIAS*/
body {
    font-family: Arial, sans-serif;
}

p{
    margin: 0px;
}

.head-p {
    background-color: #009b60;
    color: white;
    text-align: center;
    padding: 1rem;
}

/*CONF DE LOS LINKS DE LA PAGINA*/
.nav-conf {
    background-color: #444;
    padding: 1rem;
}

.nav-conf a{
    color: white;
    text-decoration: none;
    margin-right: 123px;
}

/*CONF DEL ASIDE DEL LA PAGINA*/
.pos-bar{
    /*background-color: #ffc923;*/
    border: 1px solid black;
    padding: 0% 3%;
    margin: 10px 75px 10px 0px;
    float: right;
}

.info-compra p {
    margin: 10px 0px;
}

.info-compra li{
    margin: 0px 0px 10px -40px;
    list-style: none;
}

.usr-pagar button{
    margin: 10px 0px;
    display: block;
}

/*CONF DE LOS PRODUCTOS EN EL CARRITO*/
.display-carrito{
    background-color: white;
    border: 1px solid black;
    margin: 10px 0px;
    float: left;
}

.info-prod img{
    margin: 2px 0px;
    float: left;
}

.detalles-prod{
    float: left;
}

.detalles-prod p{
    margin: 10px 5px 0px 5px;
}

.cant-prod{
    margin: 70px;
    float: left;
}

.del-prod{
    margin: 60px;
    float: left;
}

/*no borrar coso del media*/
}