@media (max-width:1366px){


/*COSAS VARIAS*/
body {
    font-family: Arial, sans-serif;
}

.head-p {
    background-color: #009b60;
    color: white;
    text-align: center;
    padding: 1rem;
}

/*CONF DE LOS LINKS DE LA PAGINA*/
.nav-conf {
    background-color: #444;
    padding: 1rem;
}

.nav-conf a{
    color: white;
    text-decoration: none;
    margin-right: 123px;
}


/*TODO LO DE LA BARRA LATERAL, FILTRO*/
.bar-lateral{
    background-color: #ffc923;
    margin: 10px 5px 715px 0px;
    height: 337px; /* esto es temporal*/
    border: 1px solid black;
    float: left;
}

.bar-serch{
    margin: 10px 2px 25px 2px;
}

.bar-elementos li{
    margin: 0px 0px 10px -15px;
    list-style: none;
}

/*TODO LO DE PRODUCTOS*/
.div-contenedor{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 3px;
}

.conf-general{
    border: 1px solid black;
}

.conf-general img{
    float: left;
}

.inf-prod p{
    margin: 5px 5px 5px 0px;
    float: left;
}

.btom-prod{
    margin: 15px;
    float: left;
}

/*dentro de los productos 
parte de los cambio de pagina*/

.camb-pag{
    /*si mismo*/
    background-color: white;
    margin: 10px 0px;
    /*pa lo que tenga adentro*/
    display: flex;
    justify-content: center;
}
.camb-pag-conf{
    border: 1px groove black;
    border-radius: 25%;
    margin: 0px 5px;
}
.camb-pag-conf a{
    color: black;
    text-decoration: none;
    margin: 5px 5px;
}

} /*NO BORRAR ESTO ES DE LA MEDIA*/