@media (max-width:1366px){


/*COSAS VARIAS*/
body {
    font-family: Arial, sans-serif;
}

.head-p {
    background-color: #009b60;
    color: white;
    text-align: center;
    padding: 1rem;
}

/*CONF DE LOS LINKS DE LA PAGINA*/
.nav-conf {
    background-color: #444;
    padding: 1rem;
}

.nav-conf a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
}


/*TODO LO DE LA BARRA LATERAL, FILTRO*/
.bar-lateral{
    background-color: #ffc923;
    margin-top: 10px;
    margin-bottom: 1000px;
    margin-right: 5px;
    height: 337px; /* esto es temporal*/
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: left;
}

.bar-serch{
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.bar-elementos li{
    margin-left:-15px ;
    margin-bottom: 10px;
    list-style: none;
}

/*TODO LO DE PRODUCTOS*/
.div-contenedor{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 3px;
}

.conf-general{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.conf-general img{
    float: left;
}

.inf-prod p{
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

.btom-prod{
    margin: 15px;
    float: left;
}

/*dentro de los productos 
parte de los cambio de pagina*/

.camb-pag{
    grid-column-start: 1;
    grid-column-end: 4;
    
}

} /*NO BORRAR ESTO ES DE LA MEDIA*/